@{
    ViewBag.Title = "Diet Manager";
}

<div class="jumbotron">
    <h1>Diet Manager</h1>
    <p class="lead">Keep track of food eaten and exercises done.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/Diet/MealPlanner">Meal planner</a>
    </div>
    <div class="col-md-4">
        <a href="/Diet/MealHistory">Meal history</a>
    </div>
    <div class="col-md-4">
        <a href="/Diet/Exercise">Exercise history</a>
    </div>
    <div class="col-md-4">
        <a href="/Diet/Stats">Health Stats</a>
    </div>
</div>