@{
    ViewBag.Title = "Finance Manager";
}

<div class="jumbotron">
    <h1>Finance Manager</h1>
    <p class="lead">Track money spent and earned, as well as taxes and investments.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/Finances/Budget">Budget</a>
    </div>
    <div class="col-md-4">
        <a href="/Finances/Taxes">Taxes</a>
    </div>
    <div class="col-md-4">
        <a href="/Finances/Loans">Loans</a>
    </div>
    <div class="col-md-4">
        <a href="/Finances/Investments">Investments</a>
    </div>
</div>