@{
    ViewBag.Title = "Inventory Manager";
}

<div class="jumbotron">
    <h1>Inventory Manager</h1>
    <p class="lead">Keep track of inventory count and expiration dates for often purchased items.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/Inventory/Food">Food</a>
    </div>
    <div class="col-md-4">
        <a href="/Inventory/Toiletries">Toiletries</a>
    </div>
    <div class="col-md-4">
        <a href="/Inventory/CleaningSupplies">Cleaning Supplies</a>
    </div>
</div>