@{
    ViewBag.Title = "Time Manager";
}

<div class="jumbotron">
    <h1>Time Manager</h1>
    <p class="lead">Track time spent on projects, hobbies, and chores.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/TimeManager/Chores">Chores</a>
    </div>
    <div class="col-md-4">
        <a href="/TimeManager/TimeTracker">Time Tracker</a>
    </div>
    <div class="col-md-4">
        <a href="/TimeManager/Settings">Settings</a>
    </div>
</div>