@{
    ViewBag.Title = "About";
}
<h2>About Life Tracker</h2>
<h3>Manage your life.</h3>

<p>
    This app is intended to help the user manage the responsibilities of their life. Everything from health and diet to taxes and financing. Log purchases and scheduled payments.
</p>
