@{
    ViewBag.Title = "Life Tracker";
}

<div class="jumbotron">
    <h1>Life Tracker</h1>
    <p class="lead">From chores to financing to health, this app is intended to help me track multiple aspects of my life.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    Welcome, @ViewBag.UserName
</div>
<div class="row">
    <div class="col-md-4">
        <a href="/Finances">Finances</a>
    </div>
    <div class="col-md-4">
        <a href="/Diet">Diet</a>
    </div>
    <div class="col-md-4">
        <a href="/ProjectManager">Project Manager</a>
    </div>
    <div class="col-md-4">
        <a href="/Inventory">Inventory</a>
    </div>
</div>