@{
    ViewBag.Title = "Project Manager";
}
<div class="jumbotron">
    <h1>Chore List</h1>
    <p class="lead">Showing chore list for @ViewBag.UserName</p>
</div>

<div class="row text-center">
    <!--<form method="POST" action="/ProjectManager/AddChore">-->
        <div class="form-inline">
            <div class="form-group">
                <input type="text" id="ChoreName" name="ChoreName" class="form-control" placeholder="Chore Name" />
            </div>
            <div class="form-group">
                <input type="text" id="ChoreDescription" name="ChoreDescription" class="form-control" placeholder="Chore Description" />
            </div>
            <div class="form-group">
                @Html.DropDownList("ChoreType", EnumHelper.GetSelectList(typeof(LifeTracker.Models.DB.ChoreType)),
                "Select Chore Type", new { @class = "form-control"})
            </div>
            <div class="form-group">
                <button id="btnAddChore" class="btn btn-primary">Add Chore</button>
            </div>
        </div>
    <!--</form>-->
</div>
<div class="row">   
    <div class="col-md-4">
        One Time Chores
        <div class="panel panel-default" data-bind="foreach: onetimechores">
            <div class="panel-heading">
                <h4 class="col-md-10" style="margin-top: 0px; padding-top: 0px;">
                    <span data-bind="text: ChoreName"></span>
                </h4>
                <div class="col-md-1 text-right">
                    <span class="glyphicon glyphicon-trash text-right" data-bind="click: RemoveChore" />
                </div>
                &nbsp;
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <span data-bind="text:ChoreDescription"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        Daily Chores
        <div class="panel panel-default" data-bind="foreach: dailychores">
            <div class="panel-heading">
                <h4 class="col-md-10" style="margin-top: 0px; padding-top: 0px;">
                    <span data-bind="text: ChoreName"></span>
                </h4>
                <div class="col-md-1 text-right">
                    <span class="glyphicon glyphicon-trash text-right" data-bind="click: RemoveChore" />
                </div>
                &nbsp;
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <span data-bind="text:ChoreDescription"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        Weekly Chores
        <div class="panel panel-default" data-bind="foreach: weeklychores">
            <div class="panel-heading">
                <h4 class="col-md-10" style="margin-top: 0px; padding-top: 0px;">
                    <span data-bind="text: ChoreName"></span>
                </h4>
                <div class="col-md-1 text-right">
                    <span class="glyphicon glyphicon-trash text-right" data-bind="click: RemoveChore" />
                </div>
                &nbsp;
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <span data-bind="text:ChoreDescription"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        Monthly Chores
        <div class="panel panel-default" data-bind="foreach: monthlychores">
            <div class="panel-heading">
                <h4 class="col-md-10" style="margin-top: 0px; padding-top: 0px;">
                    <span data-bind="text: ChoreName"></span>
                </h4>
                <div class="col-md-1 text-right">
                    <span class="glyphicon glyphicon-trash text-right" data-bind="click: RemoveChore" />
                </div>
                &nbsp;
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <span data-bind="text:ChoreDescription"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        Yearly Chores
        <div class="panel panel-default" data-bind="foreach: yearlychores">
            <div class="panel-heading">
                <h4 class="col-md-10" style="margin-top: 0px; padding-top: 0px;">
                    <span data-bind="text: ChoreName"></span>
                </h4>
                <div class="col-md-1 text-right">
                    <span class="glyphicon glyphicon-trash text-right" data-bind="click: RemoveChore" />
                </div>
                &nbsp;
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <span data-bind="text:ChoreDescription"></span>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script language="javascript">
        var datafromserver = '@Html.Raw(Json.Encode(Model.Data))';
        var modelData = ko.utils.parseJson(datafromserver);
        ko.utils.ChoreOfType = function(choretypename, filter){
            if(choretypename == filter){
                return true;
            }
            return false;
        }

        ko.utils.FilterChores = function(array, filter){
            if(filter < 0){
                return array;
            }else{
                return ko.utils.arrayFilter(array, function(item){
                    return ko.utils.ChoreOfType(item.ChoreType, filter);
                });
            }
        }
            
        function ChoresViewModel(){
            var self = this;
            self.chores = ko.observableArray(modelData["Chores"]);
            
            self.addChore = function (chore) {
                self.chores.push(chore);
            }
            self.removeChore = function (chore) {
                self.chores.remove(chore);
            }

            self.onetimechores = ko.computed(function(){
                return ko.utils.FilterChores(self.chores(), 5);            
            }, self);
            self.dailychores = ko.computed(function(){
                return ko.utils.FilterChores(self.chores(), 0);
            }, self);
            
            self.weeklychores = ko.computed(function(){
                return ko.utils.FilterChores(self.chores(), 1);
            }, self);
            
            self.monthlychores = ko.computed(function(){
                return ko.utils.FilterChores(self.chores(), 2);
            }, self);
            
            self.biyearlychores = ko.computed(function(){
                return ko.utils.FilterChores(self.chores(), 3);
            }, self);
            
            self.yearlychores = ko.computed(function(){
                return ko.utils.FilterChores(self.chores(), 4);
            }, self);
        }
        
        var koChore = new ChoresViewModel();

        ko.applyBindings(koChore);
        $(document).ready(function () {
            $("#btnAddChore").click(AddChore);
        });

        function ResetNewChoreForm() {
            $("#ChoreName").val("");
            $("#ChoreDescription").val("");
            $("#ChoreType").val("");
        }
        function AddChore() {
            var data = "ChoreName=" + encodeURI($("#ChoreName").val()) + "&ChoreDescription=" + $("#ChoreDescription").val() + "&ChoreType=" + $("#ChoreType").val();            
            var headers = {};
            $.ajax({
                type: 'POST',
                url: '/ProjectManager/AddChore',
                data: data,
                header: headers,
                processData: false,
                contentType: "application/x-www-form-urlencoded"
            }).success(AddChoreSuccess
            ).fail(AddChoreFail);
        }
        function AddChoreSuccess(response, status, jqHXR) {
            if (response["result"] == "success") {
                var newchore = response["newchore"];
                koChore.addChore(newchore);
                ResetNewChoreForm();
                $("#ChoreName").focus();
            } else {
                console.log(response);
            }
        }
        function AddChoreFail(jqXHR, status, err) {
            console.log(jqXHR);
            console.log(status);
            console.log(err);
        }

        function RemoveChore() {
            var c = this;
            var data = "choreid=" + c["ChoreId"];            
            var headers = {};
            $.ajax({
                type: 'POST',
                url: '/ProjectManager/RemoveChore',
                data: data,
                header: headers,
                processData: false,
                contentType: "application/x-www-form-urlencoded"
            }).success(function(response, status, jqHXR) {
                RemoveChoreSuccess(response, status, jqHXR, c);
            }
            ).fail(RemoveChoreFail);
        }
        function RemoveChoreSuccess(response, status, jqHXR, chore) {
            if (response["result"] == "success") {
                koChore.removeChore(chore);
            } else {
                console.log(response);
            }
        }
        function RemoveChoreFail(jqXHR, status, err) {
            console.log(jqXHR);
            console.log(status);
            console.log(err);
        }
    </script>
}