@{
    ViewBag.Title = "Project Manager";
}

<div class="jumbotron">
    <h1>Project Manager</h1>
    <p class="lead">Track time spent on projects, hobbies, and chores.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/ProjectManager/Chores">Chores</a>
    </div>
    <div class="col-md-4">
        <a href="/ProjectManager/Projects">Projects</a>
    </div>
    <div class="col-md-4">
        <a href="/ProjectManager/TimeTracker">Time Tracker</a>
    </div>
    <div class="col-md-4">
        <a href="/ProjectManager/Settings">Settings</a>
    </div>
</div>